.category-buttons {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  max-width: 1000px;
  width: 100%;
}

.category-buttons > button {
  background-color: rgb(231, 231, 231);
  border: none;
  color: rgb(32, 32, 32);
  font-family: sans-serif;
  font-size: small;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media ( max-width : 470px ) {

  .category-buttons {
    flex-flow: row wrap;
  }

  .category-buttons > button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25vw;
  }
}
