h1 {
  color: rgb(140, 219, 61);
  font-size: 45px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

body {
  background-image: linear-gradient(to bottom, transparent 0%, white 55%) , url('../images/comida-fast-food-e-caseira.jpg');
}

.login-container {
  margin: 170px 0;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box-text {
  border-radius: 8px;
  height: 30px;
  margin: 10px 0;
  width: 270px;
}

.btn-form {
  border: 2px solid rgb(29, 75, 6);
  border-radius: 8px;
  height: 45px;
  margin: 10px 0;
  width: 240px;
}

.six-btn {
  margin: 3px;
  padding: 5px;
}
