/* cartões de receitas */
.favorite-recipe-card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 4px rgb(161, 161, 161);
  display: flex;
  height: 100%;
}

.favorite-recipe-card img {
  border-top-left-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 160px;
}

.favorite-recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  row-gap: 10px;
}

.media-btn-container {
  display: flex;
  justify-content: space-around;
}

.favorite-recipe-card a {
  color: black;
  font-size: medium;
  padding: 0;
}

