.details-container {
  background-color: white;
  padding: 0 10px;
  padding-bottom: 120px;
}

.header-img {
  height: 200px;
  margin-bottom: -10px;
  object-fit: cover;
  width: 360px;
}

.instructions p {
  background-color: gainsboro;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
}

.ingredients ul {
  background-color: gainsboro;
  border-radius: 5px;
  list-style-type: none;
  padding: 10px;
  width: 320px;
}

.card-photo {
  border-radius: 5px;
  height: 110px;
  object-fit: cover;
  width: 164px;
}

.cards-container {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.video-container iframe {
  border-radius: 5px;
  width: 338px;
}

.recommendation-card {
  border-radius: 5px;
  box-shadow: 2px 4px 6px gainsboro;
}

.recommendation-card p, h3 {
  padding-left: 6px;
}

.input-container {
  height: 80px;
  padding: 28px 6px;
  text-align: center;
  width: 80px;
}

.input-container input {
  margin-left: 6px;
}

.input-container p {
  display: block;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-container h1 {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.recipe-category {
  font-size: 20px;
}

.bottom-btn {
  background-color: #0261ba;
  border: none;
  bottom: 0;
  color: white;
  font-size: large;
  height: 80px;
  left: 50%;
  margin: 10px 0;
  margin-left: -170px;
  margin-top: -100px;
  padding: 20px;
  position: fixed;
  width: 340px;
}
