.recipe-details-container {
  background-color: white;
  padding: 10px;
  padding-bottom: 120px;
}

/* ingredientes */
.ingredients {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.ingredients ul {
  background-color: gainsboro;
  border-radius: 5px;
  list-style-type: none;
  margin: auto;
  padding: 10px;
}

/* instruções da receita */
.preparation-method {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.in-progress-instructions {
  margin: auto;
  max-width: 1000px;
  padding-bottom: 120px;
  width: 100%;
}

.in-progress-instructions p, .preparation-method p {
  background-color: gainsboro;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
}

/* video */
.video-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.video-container iframe {
  align-self: center;
  border-radius: 5px;
  width: 100%;
}

/* cards de recomendação */
.recommendations {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.cards-container {
  overflow-x: scroll;
  padding-bottom: 10px;
  white-space: nowrap;
}

.card-photo {
  border-radius: 5px;
  height: 110px;
  object-fit: cover;
  width: 100%;
}

.recommendation-card {
  border-radius: 5px;
  box-shadow: 2px 4px 6px gainsboro;
  display: inline-block;
  margin-right: 10px;
  width: 160px;
}

.recommendation-card p, h3 {
  padding-left: 6px;
}

/* botão de iniciar receita */
.bottom-btn {
  background-color: #0261ba;
  border: none;
  bottom: 0;
  color: white;
  font-size: large;
  height: 80px;
  left: 50%;
  margin: 10px 0;
  margin-left: -170px;
  margin-top: -100px;
  padding: 20px;
  position: fixed;
  width: 340px;
}

@media ( max-width : 376px ) {

  .recommendation-card {
    width: 170px;
  }
}

@media ( max-width : 320px ) {

  .recommendation-card {
    width: 100%;
  }
}
