@media screen and ( max-width : 360px ) and ( max-height : 640px ) {

  .recipe-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px rgb(161, 161, 161);
    margin: auto;
  }

  .recipe-card a {
    color: black;
    text-align: center;
    text-decoration: none;
  }

  .recipe-name {
    padding: 20px 0 10px 10px;
    text-align: start;
  }

  .recipe-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 140px;
    width: 160px;
  }
}
