.content-container {
  background-color: white;
}

.recipe-list {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.recipe-card {
  margin: 0 auto;
  width: 50%;
}

.recipe-card a {
  color: black;
  text-align: center;
  text-decoration: none;
}

/* .header-container {
  align-items: center;
  background-color: rgb(140, 145, 151);
  display: flex;
  height: 50px;
  justify-content: space-around;
  padding: 10px;
} */

.title {
  align-self: center;
  font-size: 35px;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.category-buttons {
  background-color: rgb(138, 138, 51);
  display: flex;
  justify-content: center;
}

.buttons {
  font-size: 12px;
  height: 30px;
  padding: 5px;
  width: 120px;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
